# Librerías

In [1]:
'''Librería para lectura de archivo csv'''
import pandas as pd
'''Librería de estadística para calcular la moda'''
from statistics import mode
'''Librería de calculos numéricos'''
import numpy as np
import seaborn as sb

# Lectura del Dataset

In [2]:
'''Lee el dataset mediante la librería pandas'''
df = pd.read_csv('population_2018.csv')
'''Muestra el encabezado del dataset junto con sus registros totales y columnas'''
df

                Unnamed: 0       Value
0                    China  1392730000
1                    India  1352617328
2                       US   326687501
3                Indonesia   267663435
4                 Pakistan   212215030
..                     ...         ...
178                Andorra       77006
179               Dominica       71625
180  Saint Kitts and Nevis       52441
181                 Monaco       38682
182          Liechtenstein       37910

[183 rows x 2 columns]

In [3]:
'''renombre de columnas'''
df.rename(columns={'Unnamed: 0':'Pais',
                  'Value':'Valor'},
         inplace=True)
'''colunas renombradas'''
df.columns

Index(['Pais', 'Valor'], dtype='object')

In [4]:
'''Lectura del dataset'''
df

                      Pais       Valor
0                    China  1392730000
1                    India  1352617328
2                       US   326687501
3                Indonesia   267663435
4                 Pakistan   212215030
..                     ...         ...
178                Andorra       77006
179               Dominica       71625
180  Saint Kitts and Nevis       52441
181                 Monaco       38682
182          Liechtenstein       37910

[183 rows x 2 columns]

# Medidas de Frecuencia

### Count

In [5]:
df.Valor.value_counts()

1392730000    1
5244363       1
4999441       1
4867309       1
4841000       1
             ..
17351822      1
17247807      1
17231624      1
17084357      1
37910         1
Name: Valor, Length: 183, dtype: int64

## Frecuencia

In [6]:
frec = pd.value_counts(df["Pais"])
frec

China                  1
Congo (Brazzaville)    1
Costa Rica             1
Ireland                1
New Zealand            1
                      ..
Zambia                 1
Guatemala              1
Netherlands            1
Ecuador                1
Liechtenstein          1
Name: Pais, Length: 183, dtype: int64

### Frecuencia absoluta

In [7]:
frec_df = pd.DataFrame(frec)
frec_df.columns = ["Frec_abs"]
frec_df

                     Frec_abs
China                       1
Congo (Brazzaville)         1
Costa Rica                  1
Ireland                     1
New Zealand                 1
...                       ...
Zambia                      1
Guatemala                   1
Netherlands                 1
Ecuador                     1
Liechtenstein               1

[183 rows x 1 columns]

### frecuencia relativa en porcentaje

In [8]:
frec_df["Frec_Rel_%"] = 100*frec_df["Frec_abs"]/len('Pais')
frec_df

                     Frec_abs  Frec_Rel_%
China                       1        25.0
Congo (Brazzaville)         1        25.0
Costa Rica                  1        25.0
Ireland                     1        25.0
New Zealand                 1        25.0
...                       ...         ...
Zambia                      1        25.0
Guatemala                   1        25.0
Netherlands                 1        25.0
Ecuador                     1        25.0
Liechtenstein               1        25.0

[183 rows x 2 columns]

### Frecuencia relativa en porcentaje acumulada

In [9]:
Frec_rel_val = frec_df["Frec_Rel_%"].values
acum=[]
valor_acum = 0
for i in Frec_rel_val:
    valor_acum = valor_acum + i
    acum.append(valor_acum)
    
frec_df["Frec_rel_%_acum"] = acum
frec_df

                     Frec_abs  Frec_Rel_%  Frec_rel_%_acum
China                       1        25.0             25.0
Congo (Brazzaville)         1        25.0             50.0
Costa Rica                  1        25.0             75.0
Ireland                     1        25.0            100.0
New Zealand                 1        25.0            125.0
...                       ...         ...              ...
Zambia                      1        25.0           4475.0
Guatemala                   1        25.0           4500.0
Netherlands                 1        25.0           4525.0
Ecuador                     1        25.0           4550.0
Liechtenstein               1        25.0           4575.0

[183 rows x 3 columns]

# Descripción de estadísticas generales del Conjunto de Datos

In [10]:
'''Función describe para estadísticas del conjunto de datos'''
df.describe()

              Valor
count  1.830000e+02
mean   4.124923e+07
std    1.480128e+08
min    3.791000e+04
25%    2.743863e+06
50%    9.630959e+06
75%    2.963154e+07
max    1.392730e+09

# Medidas de Tendencia Central

# Media

In [11]:
'''Cálculo de la media entre los casos postivos por prefectura agrupada'''
gra_mean = np.round(df.Valor.mean(),1)
'''Imprime el valor de los promedios por cada prefectura'''
gra_mean

41249226.8

# Mediana

In [12]:
'''Cálculo de la mediana entre los casos postivos por prefectura agrupada'''
gra_median = df.Valor.median()
'''Imprime el valor de la mediana por cada prefectura'''
gra_median

9630959.0

# Moda

In [13]:
'''Cálculo de la moda entre los casos postivos por prefectura agrupada'''
gra_moda = df.Valor.agg(mode)
'''Imprime el valor de la moda por cada prefectura'''
gra_moda

1392730000

# Medidas de Dispersción

## Desviación Estándar

In [14]:
'''Cálculo de la desviación estándar entre los casos postivos por prefectura agrupada con valores redondeados a 2'''
gra_std = np.round(df.Valor.std(),1)
'''Imprime el valor de la desviación estándar por cada prefectura'''
gra_std

148012775.0

## Varianza

In [15]:
'''Cálculo de la varianza entre los casos postivos por prefectura agrupada con valores redondeados a 2'''
gra_var = np.round(df.Valor.var(),1)
'''Imprime el valor de la varianza por cada prefectura'''
gra_var

2.1907781555049744e+16

### Desviación media

In [16]:
'''Cálculo de la varianza entre los casos postivos por prefectura agrupada con valores redondeados a 2'''
gra_var = np.round(df.Valor.mad(),1)
'''Imprime el valor de la varianza por cada prefectura'''
gra_var

50923121.5

# Medidas de Posición

## Cuartiles

### Primer cuartil

In [17]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_qua1 = np.round(df.Valor.quantile(.25),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_qua1

2743863.0

### Segundo cuartil

In [18]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_qua2 = np.round(df.Valor.quantile(.50),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_qua2

9630959.0

### Tercer cuartil

In [19]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_qua3 = np.round(df.Valor.quantile(.75),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_qua3

29631535.0

## Quintiles

### Primer Quantil

In [20]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_qui1 = np.round(df.Valor.quantile(.20),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_qui1

1895455.0

### Segundo Quintil

In [21]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_qui2 = np.round(df.Valor.quantile(.40),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_qui2

6216967.2

### Tercer Quintil

In [22]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_qui3 = np.round(df.Valor.quantile(.60),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_qui3

12819258.0

### Cuarto Quintil

In [23]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_qui4 = np.round(df.Valor.quantile(.80),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_qui4

37653804.4

## Déciles

In [24]:
'''Cálculo del primer cuartil entre los casos postivos por prefectura agrupada'''
gra_quad = np.round(df.Valor.quantile(.10),1)
'''Imprime el valor del primer quartil por cada prefectura'''
gra_quad

550211.8